div {
  background-color: blue;
  height: 100vh;
  display: block;
  margin: 5px;
}
#box {
  border: 3px solid greenyellow;
  height: 400px;
  width: 80%;
  color: white;
  background-color: #6161b6;
  padding: 50px;
  margin: 0 auto;
}
p {
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  background-color: yellowgreen;
  padding: 10px;
}
